@import "../../vars.css";

.recipe-container {
  display: flex;
  width: 400px;
  flex-direction: column;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  gap: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(33, 33, 33, 0.1);
}

.recipe-container-header {
  flex: 1;
  gap: 50px;
}

.recipe-container:hover {
  transform: scale(1.05); /* Ingrossamento del 5% */
}

.recipe-t-container {
  position: relative;
  width: 100%;
  height: 245px;
}

.recipe-t-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipet-saveicon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  background-color: rgb(255, 111, 0);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipet-saveicon > img {
  width: 80%;
  height: auto;
  filter: brightness(100);
}

.recipe-b-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5px;
  padding: 10px 20px 10px 20px;
}

/* .recipeb-ti-container {
  display: flex;
  width: 100%;
  height: 20px;
  justify-content: flex-start;
  gap: 20px;
} */

.recipeb-tti-container {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.recipeb-type-container {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipeb-type-container > label {
  color: #b71c1c;
  font-size: 12px;
  text-transform: uppercase;
  font-family: var(--font-bold);
}

.recipeb-ti-container {
  display: flex;
  gap: 30px;
}

.recipebti-time {
  display: flex;
  align-items: center;
  height: auto;
  font-size: 12px;
  gap: 5px;
  color: #2f2f2f;
}

.recipebti-time > img {
  width: 16px;
  height: auto;
  object-fit: cover;
}

.recipebti-time > label {
  font-size: 13px;
  color: #2f2f2f;
}

/* .recipebti-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1px;
  background-color: #00000054;
  height: 100%; 
} */

.recipebti-ingredients {
  display: flex;
  align-items: center;
  height: auto;
  gap: 5px;
}

.recipebti-ingredients > img {
  width: 16px;
  height: auto;
  object-fit: cover;
}

.recipebti-ingredients > label {
  font-size: 13px;
  color: #2f2f2f;
}

.recipe-b-container > h1 {
  font-size: 28px;
  color: black;
  font-family: system-ui, sans-serif;
  text-transform: capitalize;
}

.recipeb-rating {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.recipeb-rating > label {
  color: #2f2f2f;
  font-size: 14px;
}

.recipeb-type {
  width: fit-content;
  background-color: brown;
  border-radius: 100px;
  padding: 2px 7px;
}

.recipeb-type > label {
  font-size: 1vw;
  color: white;
}

.recipeb-typeprice-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipeb-price-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.recipeb-price-container > img {
  width: 25px;
  height: auto;
  margin-left: -3px;
}

.recipeb-dollar-disabled {
  opacity: 0.5;
}

.recipe-b-container > p {
  margin-top: 20px;
}

/* .recipe-b-container > button {
  height: 50px;
  width: 100%;
  background-color: chartreuse;
  border-radius: 10px;
  margin-top: 25px;
  cursor: pointer;
} */

.recipeb-infos {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  padding: 10px;
}

.recipebinfo {
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.recipebinfo > img {
  width: 20px;
  height: auto;
  object-fit: cover;
}

.recipebinfo > label,
.recipebinfo > h1 {
  color: #2f2f2f;
}
