* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #18191a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.App {
  display: flex;
  flex-direction: column;
}

.app-content {
  display: flex;
}

/* Stile per la scrollbar */
::-webkit-scrollbar {
  width: 16px; /* Larghezza della scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #ababab; /* Colore del cursore della scrollbar */
  border-radius: 8px; /* Bordi arrotondati */
  border: 5px solid rgba(0, 0, 0, 0);
  background: #909090;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f100; /* Colore della track della scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #747474; /* Cambia colore del cursore quando si passa sopra */
}
