@font-face {
  font-family: "GothamBook";
  src: url("/assets/fonts/gotham/GothamBook.ttf") format("truetype");
}

@font-face {
  font-family: "brandon-header";
  src: url("/assets/fonts/brandon/brandon-header.otf") format("opentype");
}

:root {
  /*colors*/
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-tertiary: #fe3e57;
  --color-extra: #0bd7ce;
  --color-dark: #0b2447;
  --color-bg: #1a1a1a;

  /* fonts */
  --font-header: "brandon-header";
  --font-base: "GothamBook";
}
