@font-face {
  font-family: "ballada";
  src: url("/assets/fonts/ballada.ttf") format("truetype");
}
@font-face {
  font-family: "hardsign";
  src: url("/assets/fonts/hardsign.ttf") format("truetype");
}

:root {
  /*colors*/
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-tertiary: #fe3e57;
  --color-extra: #0bd7ce;
  --color-dark: #0b2447;
  --color-bg: #1a1a1a;

  /* fonts */
  --font-ballada: "ballada";
  --font-hardsign: "hardsign";
}
