@import "../../vars.css";

.recipemodal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(24, 24, 24, 0.733);
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 2000;
}

.rmc-closebutton {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.rmc-closebutton > button {
  background-color: rgba(174, 174, 174, 0.7);
  border: none;
  cursor: pointer;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.rmc-closebutton > button:hover {
  background-color: rgba(215, 215, 215, 0.7);
}

.rmc-recipefull {
  width: 80%;
  height: 80%;
  background: rgba(24, 24, 24, 1);
  display: flex;
  color: white;
}

.rmcr-left {
  flex: 3;
  display: flex;
  padding: 30px 10px 30px 30px;
  gap: 50px;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.rmcrl-top {
  display: flex;
  gap: 20px;
}

.rmcrlt-img,
.rmcrlt-infos {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.rmcrlt-img {
  overflow: hidden;
}

.rmcrlt-infos {
  justify-content: space-between;
}

.rmcrlti-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rmcr-right {
  flex: 1;
  padding: 20px;
}

.rmcrl-content,
.rmcrl-right {
  flex: 1;
  height: 100%;
}

.rmcrl-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rmcrlti-title {
  font-size: 3vw;
  text-transform: uppercase;
}

.rmcrlti-starsreviews {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  height: 45px;
}

.rmcrms-stars {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.rmcrms-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1px;
  background-color: #ffffff54; /* Colore della linea */
  height: 50%; /* Altezza della linea (in questo caso, altezza degli elementi nella colonna) */
}

.rmcrms-reviews {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rmcrms-reviews > label:first-child {
  font-weight: bold;
}

.rmcrms-authordate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 1vw;
  height: 100%;
}

.rmcrms-author {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rmcrms-author > img {
  width: 30px;
}

.rmcrms-authorname > label {
  cursor: pointer;
  color: #1769c2;
  font-weight: bold;
}

.rmcrms-save {
  height: fit-content;
  width: fit-content;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: var(--font-bold);
  padding: 10px;
  color: #b71c1c;
  background-color: white;
  border: 1px solid rgb(233, 229, 238);
  border-radius: 5px;
}

.rmcrms-save > img {
  height: auto;
  width: 25px;
}

.rmcrm-descimg {
  display: flex;
  gap: 10px;
}

.rmcrmd-descinfos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.rmcrlti-description {
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 1.75rem;
  font-size: 1.2rem;
}

.rmcrlt-img > img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  object-fit: cover;
}

.rmcrc-img-sec-container {
  width: 100%;
  height: 100px;
  display: flex;
  gap: 10px;
}

.rmcrc-img-sec-container > div {
  flex: 1;
  background-color: #1769c2;
  border-radius: 10px;
  overflow: hidden;
}

.rmcrl-infos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  padding: 10px;
  grid-row-gap: 30px;
  margin-bottom: 40px;
}

.rmcrli-info {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.rmcrli-info > h1 {
  text-transform: uppercase;
  font-size: 18px;
  font-family: var(--font-header);
  letter-spacing: 1px;
  font-weight: 700;
  text-align: center;
}

.rmcrl-ingins {
  display: flex;
  width: 100%;
  gap: 50px;
  padding: 20px;
}

.rmcrli-instructions,
.rmcrli-ingredients {
  flex: 1;
}

.rmcrli-instructions > h1,
.rmcrli-ingredients > h1 {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 32px;
  font-family: var(--font-header);
  --current-line-height: 32px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 20px;
}

.rmcrlii-ul,
.rmcrlii-ol {
  list-style-position: outside;
  margin-left: 1.5em;
}

.rmcrlii-instruction,
.rmcrlii-ingredient {
  padding: 10px;
  font-size: 20px;
}

ol {
  list-style-position: inside;
}

.rmcr-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #222324;
}

.rmcrr-authorinfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rmcrr-img > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.rmcrr-info {
  text-decoration: none;
  color: white;
}

.rmcrr-info > h1 {
  font-size: 1.2vw;
}

.rmcrr-info > label {
  font-size: 0.6vw;
  color: rgba(209, 209, 209, 0.899);
}

.rmcrr-comments {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
  padding-right: 15px;
}

.rmwrc-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rmwrcc-comment {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rmwrccc-container {
  display: flex;
  height: fit-content;
  overflow: hidden;
  word-wrap: break-word;
}

.rmwrcccc-img > img {
  width: 30px;
  height: auto;
  object-fit: cover;
}

.rmwrcccc-content {
  align-items: flex-start;
  margin-left: 10px;
  color: white;
  height: fit-content;
  overflow: hidden;
  word-wrap: break-word;
}

.rmwrccccc-username {
  font-weight: bold;
  margin-right: 5px;
  display: inline-flex;
  color: white;
  text-decoration: none;
}

.rmwrccccc-username > span {
  font-size: 15px;
  color: var(--font-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Roboto", "Arial", sans-serif;
}

.rmwrccccc-username:hover {
  color: rgb(220, 220, 220);
}

.rmwrccccc-text {
  width: 100%;
  display: inline;
  height: fit-content;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 15px;
  color: var(--font-color);
  font-family: "Roboto", "Arial", sans-serif;
}

.rmwrcc-replies {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rmwrccr-container {
  display: flex;
}

.rmwrccrc-line {
  display: flex;
  height: 30px;
  flex-shrink: 0 !important;
  width: 30px !important;
  align-items: center;
  justify-content: center;
}

.rmwrccrc-line > div {
  width: 1px;
  background-color: white;
  height: 100%;
}

.rmwrccrcl-img > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 10px;
}

.rmwrccr-content {
  align-items: flex-start;
  margin-left: 10px;
  color: white;
  height: fit-content;
  overflow: hidden;
  word-wrap: break-word;
}

.rmwrccrc-username,
.rmwrccrc-usernamereplying {
  font-weight: bold;
  margin-right: 5px;
  display: inline-flex;
  text-decoration: none;
  color: var(--font-color);
}

.rmwrccrc-username > span,
.rmwrccrc-usernamereplying > span {
  font-size: 15px;
  color: var(--font-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Roboto", "Arial", sans-serif;
}

.rmwrccrc-username:hover {
  color: rgb(220, 220, 220);
}

.rmwrccrc-usernamereplying:hover {
  color: rgb(220, 220, 220);
}

.rmwrccrc-text {
  width: 100%;
  display: inline;
  height: fit-content;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 15px;
}

.rmcrlti-likedsaved {
  display: flex;
  width: 100%;
}

.rmcrltil-left-container,
.rmcrll-right-container {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.rmcrltill-left,
.rmcrllr-right {
  display: flex;
  gap: 5px;
  color: white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.rpbi-like,
.rpbi-save {
  cursor: pointer;
  color: white;
}

.rmcrltill-left:hover,
.rmcrllr-right:hover {
  background-color: #acacac0f;
}

.rmcrltill-left svg,
.rmcrllr-right svg {
  fill: white;
  transition: fill 0.3s ease;
}

.rpbi-liked {
  fill: #f91880 !important;
  color: #f91880 !important;
  animation: pulse 0.1s ease-in-out;
}

.rpbi-like.rpbi-liked:hover {
  fill: #f91880 !important;
  color: #f91880 !important;
}

.rmwrhb-left:hover svg,
.rmwrhb-right:hover svg {
  fill: rgba(179, 179, 179, 0.81);
}

.rpbi-saved {
  fill: #e2e2df !important;
  color: #ffd700 !important;
  animation: pulse 0.1s ease-in-out;
}

.rpbi-save.rpbi-saved:hover {
  fill: #ffd700 !important;
  color: #ffd700 !important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
