@import "../../vars.css";

.recipemodal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(31, 31, 31, 0.554);
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 2;
}

.rp-container {
  display: flex;
  height: 80vh;
  width: 80vw;
  background-color: #18191a;
  padding: 20px;
  border-radius: 20px;
  gap: 20px;
  box-sizing: border-box;
  align-items: center;
}

.rpc-l {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.rpcl-t {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rpcl-t > img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.rpclt-profinfos {
  display: flex;
  width: 100%;
  gap: 10px;
}

.rpclt-prof {
  width: 70px;
  height: 70px;
}

.rpclt-prof > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.rpclt-infos {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rpclt-infos > h1 {
  color: white;
  font-size: 2.3vw;
}

.rpclt-rating {
  display: flex;
  gap: 5px;
  align-items: center;
}

.rpclt-rating > label {
  color: white;
}

.rpclt-img {
  width: 100%;
}

.rpclt-img > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.rpcl-b {
  display: flex;
  justify-content: space-around;
  color: white;
  align-items: center;
  margin-top: 10px;
}

.rpclb-item {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}

.rpclb-item > label {
  cursor: pointer;
  user-select: none;
}

.rpclb-item:hover {
  background-color: #acacac32;
}

.rpclb-item svg {
  fill: white;
  transition: fill 0.3s ease;
}

.rpclb-item:first-child:hover svg {
  fill: rgb(248, 0, 0) !important;
}

.rpclb-item:nth-child(3):hover svg {
  fill: rgb(0, 153, 248) !important;
}

.rpclb-item:last-child:hover svg {
  fill: rgb(217, 172, 10) !important;
}

.rpclb-divider {
  width: 1px;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.346);
}

.rpc-divider {
  width: 1px;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.337);
  border-radius: 20px;
}

.rpc-r {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rpcr-header {
  display: flex;
  justify-content: space-between;
  color: white;
}

.rpcr-header > h1 {
  font-size: 2vw;
}

.rpcr-comments {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 300px;
  gap: 30px;
  color: white;
  overflow-y: auto;
}

.rpcr-comment {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rpcrc-title {
  padding: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.rpcrc-title > img {
  width: 40px;
  height: auto;
  object-fit: cover;
}

.rpcrc-replies {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rpcrc-reply {
  display: flex;
}

.rpcrcr-left {
  display: flex;
  width: fit-content;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 40px;
}

.rpcrcrl-line {
  align-items: center;
  justify-content: center;
  width: 1px;
  background-color: white;
  height: 100%;
}

.rpcrcr-content {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 15px 0 15px 0;
  gap: 10px;
  align-items: center;
}

.rpcrcr-content > img {
  width: 25px;
  height: auto;
  object-fit: cover;
}
