@import "../../vars.css";

.recipemodal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(31, 31, 31, 0.554);
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 2000;
}

.rm-window {
  width: 90vw;
  height: 90vh;
  display: flex;
  background-color: black;
}

.rmw-left,
.rmw-right {
  flex: 1;
}

.rmw-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rmwl-img {
  width: 100%;
  height: auto;
}

.rmwl-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rmwl-likedsaved {
  display: flex;
  width: 100%;
}

.rmwll-left-container,
.rmwll-right-container {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.rmwll-left,
.rmwll-right {
  display: flex;
  gap: 5px;
  color: white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.rpbi-like,
.rpbi-save {
  cursor: pointer;
  color: white;
}

.rmwll-left:hover,
.rmwll-right:hover {
  background-color: #acacac0f;
}

.rmwll-left svg,
.rmwll-right svg {
  fill: white;
  transition: fill 0.3s ease;
}

.rpbi-liked {
  fill: #f91880 !important;
  color: #f91880 !important;
  animation: pulse 0.1s ease-in-out;
}

.rpbi-like.rpbi-liked:hover {
  fill: #f91880 !important;
  color: #f91880 !important;
}

.rmwrhb-left:hover svg,
.rmwrhb-right:hover svg {
  fill: rgba(179, 179, 179, 0.81);
}

.rpbi-saved {
  fill: #e2e2df !important;
  color: #ffd700 !important;
  animation: pulse 0.1s ease-in-out;
}

.rpbi-save.rpbi-saved:hover {
  fill: #ffd700 !important;
  color: #ffd700 !important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.rmw-right {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

.rmwr-header {
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: white;
}

.rmwrh-imgname {
  display: flex;
  color: white;
  align-items: center;
  gap: 10px;
}

.rmwrh-img {
  width: 40px;
  height: auto;
}

.rmwrh-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rmwrh-imgname > label {
  font-size: 1.2vw;
}

.rmwrh-title {
  font-size: 2.5vw;
  margin-top: 15px;
}

.rmwrh-rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.rmwrh-rating > label {
  font-size: 1vw;
}

.rmwr-comments {
  display: flex;
  flex-direction: column;
}

.rmwrc-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.rmwrcc-comment {
  display: flex;
  flex-direction: column;
}

.rmwrcc-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.rmwrcc-header > img {
  width: 30px;
  height: auto;
  object-fit: cover;
}

.rmwrcc-header > h1 {
  font-size: 1vw;
  color: white;
}

.rmwrcc-content {
  color: white;
  font-size: 1vw;
  margin-left: 50px;
}

.rmwrcc-replies {
  display: flex;
  flex-direction: column;
}

.rmwrccr-container {
  display: flex;
}

.rmwrccrc-left {
  display: flex;
  height: 100%;
  width: 40px;
  align-items: center;
  justify-content: center;
}

.rmwrccrc-left > div {
  width: 1px;
  background-color: white;
  height: 100%;
}

.rmwrccrc-header {
  display: flex;
}

.rmwrccrc-header > img {
  width: 30px;
  height: auto;
  object-fit: cover;
}

.rmwrccrc-header > h1 {
  color: white;
  font-size: 1vw;
}

.rmwrccrc-content {
  display: flex;
  gap: 10px;
}

.rmwrccrc-content > h1,
.rmwrccrc-content > label {
  color: white;
  font-size: 1vw;
}
