@import "../../vars.css";

/* .search-hover {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 100px;
  width: 50px;
  padding: 10px;
  transition: all 0.5s;
}

.search-hover:hover {
  width: 300px;
  padding-left: 50px;
} */

.searchbar-container > input {
  width: 40px;
  height: 40px;
  border: #000000 solid 1px;
  font-size: 18px;
  border-radius: 25px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 18px;
  background-image: url("/assets/images/navbar/search_icon.png");
  background-color: transparent;
  transition: 0.1s all ease-in-out;
}

.searchbar-container > input::placeholder {
  color: transparent;
}

.searchbar-container > input:hover,
.searchbar-container > input:focus,
.searchbar-container > input:not(:placeholder-shown) {
  width: 350px;
  background-color: #fff;
  filter: brightness(100%);
  border: #000000 solid 1px;
  padding: 8px 20px 8px 45px;
  background-position: 4% 50%;
}

.searchbar-container > input:hover::placeholder,
.searchbar-container > input:focus::placeholder {
  color: #000000; /* Cambia il colore del testo del placeholder durante l'hover o il focus */
}
