@import "../../vars.css";

.searchbar-container {
  display: flex;
  height: 42px;
  width: 640px;
  align-items: center;
}

.sb-form {
  padding: 0 0 0 30px;
  gap: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-right: none;
  border: 1px solid hsl(0, 0%, 20%);
  border-radius: 40px 0 0 40px;
}

.sb-form > input {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: 0 0;
  border: 0;
  padding: 0;
  flex: 1;
  color: var(--font-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
}

.sb-form > input:focus {
  outline: none; /* Rimuove la bordatura predefinita quando l'input è in focus */
}

.sb-link {
  width: 30px;
  height: 30px;
}

.searchbar-container > button {
  border: none;
  background: none;
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 18.82%);
  background-color: hsla(0, 0%, 100%, 0.08);
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  height: 40px;
  width: 64px;
  margin: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar-container > button > svg {
  margin-right: 5px;
}

.sb-form.has-focus {
  border: 1px solid #999999a4 !important;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  margin-left: 0;
}

#search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.594);
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  height: 25px;
  width: 25px;
  cursor: pointer;
}
