@import "../../vars.css";

.qanda-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border: 2px solid #e7e7e7;
  padding: 16px;
  gap: 20px;
}

.qanda-t-container {
  display: flex;
  width: 100%;
  padding: 16px;
  align-items: start;
  gap: 20px;
}

.qanda-userasking-container {
  display: flex;
  flex-direction: column;
  flex: 10;
}

.qanda-userasking-container > p {
  margin-left: 40px;
}

.qanda-userasking {
  display: flex;
  height: 30px;
  margin-bottom: 20px;
  gap: 10px;
  align-items: center;
}

.qanda-userasking > a > img {
  width: 30px;
  height: auto;
  object-fit: cover;
}

.qanda-container > p {
  margin-left: 40px;
  margin-bottom: 40px;
}

.qanda-t-container > button {
  display: inline-block;
  font-size: 13px;
  padding: 10px;
  align-items: center;
  height: 50px;
  flex: 1;
  text-transform: uppercase;
  font-family: var(--font-header);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: #d0d0d0;
  color: #2f2f2f;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
}

.qanda-replies-container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  gap: 50px;
}

.qanda-reply-container {
  display: flex;
  align-items: center;
}

.qanda-reply-container > button {
  display: inline-block;
  font-size: 11px;
  padding: 10px;
  align-items: center;
  height: 35px;
  flex: 1;
  text-transform: uppercase;
  font-family: var(--font-header);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: #d0d0d0;
  color: #2f2f2f;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
}

.qandar-container {
  display: flex;
  flex-direction: column;
  flex: 10;
}

.qandar-user-replying {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.qandar-user-replying > a > img {
  width: 30px;
  height: auto;
  object-fit: cover;
}

.qandar-userr-message {
  display: flex;
  margin-left: 40px;
  flex-direction: column;
  gap: 5px;
}

.qandar-userr-message > h1 {
  font-weight: bold;
  margin-right: 10px;
  font-size: 14px;
}

.qanda-replies-divider {
  height: 1px;
  width: 100%;
  background-color: #ababab;
  margin-top: 50px;
}
