@import "../../vars.css";

.myrecipes-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.myrecipes-highlight-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  background-color: aquamarine;
}

.myrecipes-recipes {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
}
