@import "../../vars.css";

.myrecipes-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-right: max(2rem, calc(50% - 38.125rem));
  padding-left: max(2rem, calc(50% - 38.125rem));
}

.myrecipesh-highlight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.myrecipesh-highlight > h1 {
  text-align: center;
  font-size: 2.25rem;
  text-align: center;
  font-weight: 700;
  font-family: var(--font-header);
}

.myrecipes-recipes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 100px;
}

.myrecipes-recipes {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}
