@import "../../vars.css";

.recipepost-container {
  /* width: calc(100% / 4 - 16px - 0.01px); */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: fit-content;
  border-radius: 10px;
  box-sizing: border-box;
  min-height: 250px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  user-select: none;
}

.recipepost-container:hover {
  transform: scale(1.05);
}

.rp-t {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.rpt-b > * {
  text-decoration: none;
  color: white;
}

.rpt-t {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 */
  margin-bottom: 20px;
}

.rpt-t > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.rpt-b {
  display: flex;
  color: white;
  gap: 10px;
}

.rptb-img > img {
  display: flex;
  width: 50px;
  height: auto;
  object-fit: cover;
}

.rptb-infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.rptb-infos > h1 {
  font-size: 1.5vw;
}

.rptbi-rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rptbi-rating > label {
  font-size: 0.8vw;
}

.rpc-dots {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rpc-dots:hover {
  background-color: rgb(184, 184, 184);
}

.rp-b {
  display: flex;
  color: white;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

.rpb-item {
  display: flex;
  gap: 5px;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  fill: white;
  transition: fill 0.3s ease;
}

.rpb-item > label {
  cursor: pointer;
  user-select: none;
}

.rpb-item:hover {
  background-color: #acacac0f;
}

.rpb-item svg {
  fill: white;
  transition: fill 0.3s ease;
}

.rpbi-liked {
  fill: #f91880 !important;
  color: #f91880 !important;
  animation: pulse 0.1s ease-in-out;
}

.rpbi-like.rpbi-liked:hover {
  fill: #f91880 !important;
  color: #f91880 !important;
}

.rpb-item:hover svg {
  fill: rgba(179, 179, 179, 0.81);
}

.rpbi-saved {
  fill: #ffd700 !important;
  color: #ffd700 !important;
  animation: pulse 0.1s ease-in-out;
}

.rpbi-save.rpbi-saved:hover {
  fill: #ffd700 !important;
  color: #ffd700 !important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.rpb-divider {
  width: 1px;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.346);
}
