@import "../../vars.css";

.recipepost-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  background-color: #242526;
  border-radius: 10px;
}

.rp-header {
  display: flex;
  gap: 10px;
  padding: var(--pad-small);
  align-items: center;
  margin-bottom: var(--marg-small) var(--marg-small) 5 var(--marg-small);
}

.rp-header > img {
  width: 50px;
  height: auto;
  object-fit: cover;
}

.rph-infos {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 5px;
}

.rph-infos > h3 {
  color: rgb(152, 152, 152);
  font-size: 1vw;
}

.rp-description {
  color: white;
  margin-bottom: var(--marg-small);
  padding: 0 var(--pad-small) var(--pad-small) var(--pad-small);
}
