@import "../../vars.css";

.recipepost-container {
  /* width: calc(100% / 4 - 16px - 0.01px); */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  user-select: none;
}

.recipepost-container:hover {
  transform: scale(1.05);
}

.rp-t {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.rpt-b > * {
  text-decoration: none;
  color: white;
}

.rpt-t {
  display: flex;
  margin-bottom: 20px;
  height: 200px;
}

.rpt-t > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.rpt-b {
  display: flex;
  color: white;
  gap: 10px;
}

.rptb-img > img {
  display: flex;
  width: 50px;
  height: auto;
  object-fit: cover;
}

.rptb-infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.rptb-infos > h1 {
  font-size: 1.5vw;
}

.rptbi-rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rptbi-rating > label {
  font-size: 0.8vw;
}

.rpc-dots {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rpc-dots:hover {
  background-color: rgb(184, 184, 184);
}

.rp-b {
  display: flex;
  justify-content: space-around;
  color: white;
  align-items: center;
  margin-top: 10px;
}

.rpb-item {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}

.rpb-item > label {
  cursor: pointer;
  user-select: none;
}

.rpb-item:hover {
  background-color: #acacac32;
}

.rpb-item svg {
  fill: white;
  transition: fill 0.3s ease;
}

.rpb-item:first-child:hover svg {
  fill: rgb(248, 0, 0) !important;
}

.rpb-item:nth-child(3):hover svg {
  fill: rgb(0, 153, 248) !important;
}

.rpb-item:last-child:hover svg {
  fill: rgb(217, 172, 10) !important;
}

.rpb-divider {
  width: 1px;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.346);
}
