@import "../../vars.css";

.leftbar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  overflow: auto;
  position: fixed;
  top: 0;
  margin-top: 50px;
}

.lb-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  padding: var(--pad-small);
  flex-direction: column;
  justify-content: space-between;
}

.lb-header {
  display: flex;
  gap: 20px;
  height: 60px;
  width: 100%;
  align-items: center;
  margin-bottom: var(--marg-medium);
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: var(--pad-small) var(--pad-small) var(--pad-small) var(--pad-small);
}

.lb-header > img {
  height: 100%;
  width: auto;
  border-radius: 100%;
  object-fit: cover;
}

.lb-header > h1 {
  font-size: 2.2vw;
  font-family: var(--font-ballada);
  color: rgb(255, 255, 255);
}

.lb-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--marg-big);
}

.lb-link {
  color: #f1f1f1;
  text-decoration: none;
  position: relative;
  font-size: 15px;
  font-family: Roboto, Arial, sans-serif !important;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: var(--pad-small) var(--pad-small) var(--pad-small) var(--pad-small);
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
}

.lb-link > h1 {
  font-family: Roboto, Arial, sans-serif !important;
}

.lb-link:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.lb-icon {
  width: 30px;
  height: auto;
}

.lb-create {
  margin-bottom: 50px;
}
