@import "../../vars.css";

.lefter {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 500px;
  background-color: red;
}

.lefter-inside {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: blueviolet;
}

.navbarc-link {
  color: black;
  text-decoration: none;
  position: relative;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-family: var(--font-bold);
  text-transform: uppercase;
}

.navbarc-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: gray;
  transition: background-color 0.3s ease;
}

.navbarc-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.3s ease; /* Aggiungi una transizione per una transizione più fluida */
}

.navbarc-link:hover::after {
  background-color: gray; /* Cambia il colore della sottolineatura al passaggio del cursore */
}
